@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.loading {
    animation: spin 1s linear infinite;
    width: 24px;
    height: 24px;
    margin: 0 12px;
}
.loading circle {
    opacity: 0.1;
}
.loading path {
    opacity: 0.50;
}
